openapi: 3.0.3
info:
  title: Boosty Platform - Metrics API
  description: |
    Comprehensive metrics and analytics API for the Boosty solar investment platform.
    
    This API provides real-time and historical data across all major business domains including users, investors, transactions, KYC processing, and operational metrics.
    
    ## Authentication
    
    All API endpoints require authentication using JWT (JSON Web Tokens). The token should be included in the Authorization header:
    
    ```
    Authorization: Bearer <your-jwt-token>
    ```
    
    ## Role-based Access Control
    
    The API implements role-based access control (RBAC) with the following roles:
    - `superadmin`: Full system access
    - `admin`: Administrative access
    - `manager`: Management access
    - `analyst`: Analytics access
    - `investor`: Limited to own data
    
    ## Rate Limiting
    
    Rate limits are applied based on user roles:
    - Admin/Manager: 200 requests per minute
    - Analyst: 150 requests per minute
    - Investor: 100 requests per minute
  version: 1.0.0
  contact:
    name: Boosty API Support
    email: api-support@boosty.com
    url: https://docs.boosty.com/api/metrics
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.boosty.com/api/metrics
    description: Production server
  - url: https://staging-api.boosty.com/api/metrics
    description: Staging server
  - url: http://localhost:3000/api/metrics
    description: Development server

security:
  - BearerAuth: []

paths:
  /health:
    get:
      tags:
        - System
      summary: Health check
      description: Check the health status of the metrics API service
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /docs:
    get:
      tags:
        - System
      summary: API documentation
      description: Get API documentation and endpoint information
      operationId: getApiDocs
      responses:
        '200':
          description: API documentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocsResponse'

  /dashboard/overview:
    get:
      tags:
        - Dashboard
      summary: Get dashboard overview
      description: Provides high-level overview metrics for the admin dashboard
      operationId: getDashboardOverview
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: Dashboard overview metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardOverviewResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /dashboard/realtime:
    get:
      tags:
        - Dashboard
      summary: Get real-time metrics
      description: Real-time metrics for live dashboard updates
      operationId: getRealtimeMetrics
      responses:
        '200':
          description: Real-time metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeMetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /investors:
    get:
      tags:
        - Investors
      summary: Get investor overview
      description: Overview metrics for investors
      operationId: getInvestorMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/InvestorType'
        - $ref: '#/components/parameters/RiskProfile'
        - $ref: '#/components/parameters/Region'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Investor metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestorMetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /investors/list:
    get:
      tags:
        - Investors
      summary: Get investor list
      description: Get paginated list of investors
      operationId: getInvestorList
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/InvestorType'
        - $ref: '#/components/parameters/RiskProfile'
        - $ref: '#/components/parameters/Region'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Investor list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestorListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /investors/performance:
    get:
      tags:
        - Investors
      summary: Get investor performance metrics
      description: Detailed performance metrics for investors
      operationId: getInvestorPerformanceMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/GroupBy'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Investor performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestorPerformanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /investors/{investorId}:
    get:
      tags:
        - Investors
      summary: Get investor details
      description: Detailed information for a specific investor
      operationId: getInvestorDetails
      parameters:
        - name: investorId
          in: path
          required: true
          description: ID of the investor
          schema:
            type: string
            example: "inv_123"
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        '200':
          description: Investor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestorDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /users:
    get:
      tags:
        - Users
      summary: Get user overview
      description: Overview metrics for platform users
      operationId: getUserMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/UserType'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Region'
        - $ref: '#/components/parameters/PropertyType'
      responses:
        '200':
          description: User metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /users/list:
    get:
      tags:
        - Users
      summary: Get user list
      description: Get paginated list of users
      operationId: getUserList
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/UserType'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Region'
        - $ref: '#/components/parameters/PropertyType'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /users/activity:
    get:
      tags:
        - Users
      summary: Get user activity metrics
      description: Detailed activity metrics for users
      operationId: getUserActivityMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/UserType'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: User activity metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserActivityResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /users/{userId}:
    get:
      tags:
        - Users
      summary: Get user details
      description: Detailed information for a specific user
      operationId: getUserDetails
      parameters:
        - name: userId
          in: path
          required: true
          description: ID of the user
          schema:
            type: string
            example: "user_123"
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /transactions:
    get:
      tags:
        - Transactions
      summary: Get transaction overview
      description: Overview metrics for all financial transactions
      operationId: getTransactionMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/TransactionType'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/MinAmount'
        - $ref: '#/components/parameters/MaxAmount'
        - $ref: '#/components/parameters/PaymentMethod'
      responses:
        '200':
          description: Transaction metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /transactions/list:
    get:
      tags:
        - Transactions
      summary: Get transaction list
      description: Get paginated list of transactions
      operationId: getTransactionList
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/TransactionType'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/MinAmount'
        - $ref: '#/components/parameters/MaxAmount'
        - $ref: '#/components/parameters/PaymentMethod'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /transactions/performance:
    get:
      tags:
        - Transactions
      summary: Get transaction performance metrics
      description: Detailed performance metrics for transactions
      operationId: getTransactionPerformanceMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/TransactionType'
        - $ref: '#/components/parameters/PaymentMethod'
      responses:
        '200':
          description: Transaction performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPerformanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /transactions/analytics:
    get:
      tags:
        - Transactions
      summary: Get transaction analytics
      description: Advanced analytics for transactions
      operationId: getTransactionAnalytics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/TransactionType'
        - $ref: '#/components/parameters/PaymentMethod'
      responses:
        '200':
          description: Transaction analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionAnalyticsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /transactions/{transactionId}:
    get:
      tags:
        - Transactions
      summary: Get transaction details
      description: Detailed information for a specific transaction
      operationId: getTransactionDetails
      parameters:
        - name: transactionId
          in: path
          required: true
          description: ID of the transaction
          schema:
            type: string
            example: "txn_123"
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /kyc:
    get:
      tags:
        - KYC
      summary: Get KYC overview
      description: Overview metrics for KYC processing
      operationId: getKYCMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/DocumentType'
        - $ref: '#/components/parameters/VerificationStatus'
      responses:
        '200':
          description: KYC metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCMetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /kyc/list:
    get:
      tags:
        - KYC
      summary: Get KYC document list
      description: Get paginated list of KYC documents
      operationId: getKYCList
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/DocumentType'
        - $ref: '#/components/parameters/VerificationStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: KYC document list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /kyc/performance:
    get:
      tags:
        - KYC
      summary: Get KYC performance metrics
      description: Detailed performance metrics for KYC processing
      operationId: getKYCPerformanceMetrics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/DocumentType'
      responses:
        '200':
          description: KYC performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCPerformanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /kyc/analytics:
    get:
      tags:
        - KYC
      summary: Get KYC analytics
      description: Advanced analytics for KYC processing
      operationId: getKYCAnalytics
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/DocumentType'
      responses:
        '200':
          description: KYC analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCAnalyticsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /kyc/{documentId}:
    get:
      tags:
        - KYC
      summary: Get KYC document details
      description: Detailed information for a specific KYC document
      operationId: getKYCDetails
      parameters:
        - name: documentId
          in: path
          required: true
          description: ID of the KYC document
          schema:
            type: string
            example: "kyc_123"
      responses:
        '200':
          description: KYC document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /reports:
    get:
      tags:
        - Reports
      summary: Get report list
      description: Get list of available reports
      operationId: getReportList
      parameters:
        - $ref: '#/components/parameters/DateRange'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        '200':
          description: Report list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /reports/financial:
    get:
      tags:
        - Reports
      summary: Generate financial report
      description: Generate comprehensive financial report
      operationId: generateFinancialReport
      parameters:
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - name: format
          in: query
          description: Report format
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Financial report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialReportResponse'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /reports/operational:
    get:
      tags:
        - Reports
      summary: Generate operational report
      description: Generate comprehensive operational report
      operationId: generateOperationalReport
      parameters:
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - name: format
          in: query
          description: Report format
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Operational report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalReportResponse'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /reports/compliance:
    get:
      tags:
        - Reports
      summary: Generate compliance report
      description: Generate comprehensive compliance report
      operationId: generateComplianceReport
      parameters:
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - name: format
          in: query
          description: Report format
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Compliance report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceReportResponse'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /reports/performance:
    get:
      tags:
        - Reports
      summary: Generate performance report
      description: Generate comprehensive performance report
      operationId: generatePerformanceReport
      parameters:
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - name: format
          in: query
          description: Report format
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Performance report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceReportResponse'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    DateRange:
      name: dateRange
      in: query
      description: Preset date range
      schema:
        type: string
        enum: [last_7_days, last_30_days, last_90_days, this_month, last_month, this_year, last_year]
        example: last_30_days

    StartDate:
      name: startDate
      in: query
      description: Custom start date (ISO 8601)
      schema:
        type: string
        format: date
        example: "2024-01-01"

    EndDate:
      name: endDate
      in: query
      description: Custom end date (ISO 8601)
      schema:
        type: string
        format: date
        example: "2024-01-31"

    Page:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1

    Limit:
      name: limit
      in: query
      description: Items per page (max: 100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

    SortBy:
      name: sortBy
      in: query
      description: Sort field
      schema:
        type: string
        example: createdAt

    SortOrder:
      name: sortOrder
      in: query
      description: Sort direction
      schema:
        type: string
        enum: [asc, desc]
        default: desc
        example: desc

    Status:
      name: status
      in: query
      description: Filter by status
      schema:
        oneOf:
          - type: string
          - type: array
            items:
              type: string
        example: active

    Region:
      name: region
      in: query
      description: Geographic filter
      schema:
        type: string
        example: Lagos

    InvestorType:
      name: investorType
      in: query
      description: Filter by investor type
      schema:
        oneOf:
          - type: string
            enum: [individual, institutional, corporate]
          - type: array
            items:
              type: string
              enum: [individual, institutional, corporate]
        example: individual

    RiskProfile:
      name: riskProfile
      in: query
      description: Filter by risk profile
      schema:
        oneOf:
          - type: string
            enum: [conservative, moderate, aggressive]
          - type: array
            items:
              type: string
              enum: [conservative, moderate, aggressive]
        example: moderate

    UserType:
      name: userType
      in: query
      description: Filter by user type
      schema:
        oneOf:
          - type: string
            enum: [applicant, customer]
          - type: array
            items:
              type: string
              enum: [applicant, customer]
        example: customer

    PropertyType:
      name: propertyType
      in: query
      description: Filter by property type
      schema:
        oneOf:
          - type: string
            enum: [residential, commercial, industrial]
          - type: array
            items:
              type: string
              enum: [residential, commercial, industrial]
        example: residential

    TransactionType:
      name: transactionType
      in: query
      description: Filter by transaction type
      schema:
        oneOf:
          - type: string
            enum: [investment, repayment, fee, refund]
          - type: array
            items:
              type: string
              enum: [investment, repayment, fee, refund]
        example: investment

    PaymentMethod:
      name: paymentMethod
      in: query
      description: Filter by payment method
      schema:
        oneOf:
          - type: string
            enum: [bank_transfer, card, wallet, auto_debit]
          - type: array
            items:
              type: string
              enum: [bank_transfer, card, wallet, auto_debit]
        example: bank_transfer

    Currency:
      name: currency
      in: query
      description: Filter by currency
      schema:
        type: string
        example: NGN

    MinAmount:
      name: minAmount
      in: query
      description: Minimum amount filter
      schema:
        type: number
        minimum: 0
        example: 1000

    MaxAmount:
      name: maxAmount
      in: query
      description: Maximum amount filter
      schema:
        type: number
        minimum: 0
        example: 100000

    DocumentType:
      name: documentType
      in: query
      description: Filter by document type
      schema:
        oneOf:
          - type: string
            enum: [government_id, utility_bill, bank_statement, proof_of_income]
          - type: array
            items:
              type: string
              enum: [government_id, utility_bill, bank_statement, proof_of_income]
        example: government_id

    VerificationStatus:
      name: verificationStatus
      in: query
      description: Filter by verification status
      schema:
        oneOf:
          - type: string
            enum: [verified, pending, rejected, under_review]
          - type: array
            items:
              type: string
              enum: [verified, pending, rejected, under_review]
        example: verified

    GroupBy:
      name: groupBy
      in: query
      description: Group results by time period
      schema:
        type: string
        enum: [day, week, month, quarter, year]
        default: month
        example: month

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: AUTHENTICATION_REQUIRED
              message: Authentication token is required

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: INSUFFICIENT_PERMISSIONS
              message: Insufficient permissions to access this resource

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: RESOURCE_NOT_FOUND
              message: The requested resource was not found

    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Too many requests, please try again later

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: healthy
        service:
          type: string
          example: metrics-api
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        version:
          type: string
          example: "1.0.0"

    ApiDocsResponse:
      type: object
      properties:
        title:
          type: string
          example: Boosty Metrics API
        version:
          type: string
          example: "1.0.0"
        description:
          type: string
          example: Comprehensive metrics and analytics API for the Boosty solar investment platform
        endpoints:
          type: object
          properties:
            dashboard:
              type: string
              example: /metrics/dashboard
            investors:
              type: string
              example: /metrics/investors
            users:
              type: string
              example: /metrics/users
            transactions:
              type: string
              example: /metrics/transactions
            kyc:
              type: string
              example: /metrics/kyc
            reporting:
              type: string
              example: /metrics/reports
        authentication:
          type: string
          example: Bearer token required
        rateLimit:
          type: string
          example: 100 requests per minute per user
        caching:
          type: string
          example: 5 minutes for most endpoints

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          description: Response data varies by endpoint
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    ResponseMeta:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        requestId:
          type: string
          example: req_123456789
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        filters:
          type: object
          description: Applied filters
          example:
            dateRange: last_30_days
            status: ["active"]

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 5

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: ERROR_CODE
            message:
              type: string
              example: Human-readable error message
            details:
              type: object
              description: Optional additional details
        meta:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              example: req_123456789

    DashboardOverviewResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                summary:
                  type: object
                  properties:
                    totalUsers:
                      type: integer
                      example: 15420
                    activeUsers:
                      type: integer
                      example: 12350
                    totalInvestors:
                      type: integer
                      example: 890
                    activeInvestors:
                      type: integer
                      example: 756
                    totalInvestments:
                      type: number
                      example: 2340000
                    totalApplications:
                      type: integer
                      example: 3450
                    pendingApplications:
                      type: integer
                      example: 234
                    approvedApplications:
                      type: integer
                      example: 2890
                    installedSystems:
                      type: integer
                      example: 2150
                    totalRevenue:
                      type: number
                      example: 456000
                    monthlyRecurringRevenue:
                      type: number
                      example: 38000
                growth:
                  type: object
                  properties:
                    userGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                    investmentGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                    revenueGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                performance:
                  type: object
                  properties:
                    kycApprovalRate:
                      type: number
                      example: 87.5
                    applicationApprovalRate:
                      type: number
                      example: 83.7
                    installationCompletionRate:
                      type: number
                      example: 74.4
                    repaymentRate:
                      type: number
                      example: 92.3
                    customerSatisfactionScore:
                      type: number
                      example: 4.2
                recentActivity:
                  type: object
                  properties:
                    newUsersToday:
                      type: integer
                      example: 45
                    newApplicationsToday:
                      type: integer
                      example: 23
                    newInvestmentsToday:
                      type: integer
                      example: 12
                    completedInstallationsToday:
                      type: integer
                      example: 8
                    repaymentsProcessedToday:
                      type: integer
                      example: 156

    GrowthMetric:
      type: object
      properties:
        current:
          type: number
          example: 15420
        previous:
          type: number
          example: 14200
        percentage:
          type: number
          example: 8.59
        trend:
          type: string
          enum: [up, down, stable]
          example: up

    RealtimeMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                activeUsers:
                  type: integer
                  example: 1247
                onlineInvestors:
                  type: integer
                  example: 89
                pendingTransactions:
                  type: integer
                  example: 34
                systemStatus:
                  type: string
                  example: operational
                serverLoad:
                  type: number
                  example: 45.2
                responseTime:
                  type: integer
                  example: 120
                currentHourStats:
                  type: object
                  properties:
                    applications:
                      type: integer
                      example: 12
                    investments:
                      type: integer
                      example: 5
                    repayments:
                      type: integer
                      example: 28

    InvestorMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                summary:
                  type: object
                  properties:
                    totalInvestors:
                      type: integer
                      example: 890
                    activeInvestors:
                      type: integer
                      example: 756
                    newInvestors:
                      type: integer
                      example: 45
                    averageInvestmentPerInvestor:
                      type: number
                      example: 2629.21
                    totalInvestmentVolume:
                      type: number
                      example: 2340000
                    totalReturns:
                      type: number
                      example: 187200
                breakdowns:
                  type: object
                  properties:
                    investorType:
                      type: object
                      example:
                        individual: 670
                        institutional: 180
                        corporate: 40
                    riskProfile:
                      type: object
                      example:
                        conservative: 320
                        moderate: 450
                        aggressive: 120
                    verificationStatus:
                      type: object
                      example:
                        verified: 850
                        pending: 30
                        rejected: 10
                performance:
                  type: object
                  properties:
                    averageROI:
                      type: number
                      example: 12.5
                    totalInvestments:
                      type: integer
                      example: 2340
                    completionRate:
                      type: number
                      example: 94.2
                    defaultRate:
                      type: number
                      example: 1.8
                topInvestors:
                  type: array
                  items:
                    $ref: '#/components/schemas/TopInvestor'

    TopInvestor:
      type: object
      properties:
        id:
          type: string
          example: inv_123
        name:
          type: string
          example: John Doe
        email:
          type: string
          example: john@example.com
        investorType:
          type: string
          enum: [individual, institutional, corporate]
          example: individual
        totalInvested:
          type: number
          example: 50000
        actualReturns:
          type: number
          example: 8500
        roi:
          type: number
          example: 17.0
        activeInvestments:
          type: integer
          example: 12

    InvestorListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/InvestorSummary'
                pagination:
                  $ref: '#/components/schemas/PaginationMeta'

    InvestorSummary:
      type: object
      properties:
        id:
          type: string
          example: inv_123
        user:
          type: object
          properties:
            id:
              type: string
              example: user_456
            name:
              type: string
              example: John Doe
            email:
              type: string
              example: john@example.com
        investorType:
          type: string
          enum: [individual, institutional, corporate]
          example: individual
        verificationStatus:
          type: string
          enum: [verified, pending, rejected]
          example: verified
        riskProfile:
          type: string
          enum: [conservative, moderate, aggressive]
          example: moderate
        totalInvested:
          type: number
          example: 50000
        actualReturns:
          type: number
          example: 8500
        roi:
          type: number
          example: 17.0
        isActive:
          type: boolean
          example: true
        joinedAt:
          type: string
          format: date-time
          example: "2023-06-15T10:30:00Z"

    InvestorPerformanceResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                averageROI:
                  type: number
                  example: 12.5
                totalInvestments:
                  type: integer
                  example: 2340
                completionRate:
                  type: number
                  example: 94.2
                defaultRate:
                  type: number
                  example: 1.8
                roiDistribution:
                  type: array
                  items:
                    $ref: '#/components/schemas/ROIDistribution'
                investmentDuration:
                  type: object
                  properties:
                    average:
                      type: number
                      example: 365
                    minimum:
                      type: number
                      example: 180
                    maximum:
                      type: number
                      example: 730

    ROIDistribution:
      type: object
      properties:
        range:
          type: string
          example: "10-15%"
        count:
          type: integer
          example: 320
        percentage:
          type: number
          example: 36.0

    InvestorDetailsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                investor:
                  $ref: '#/components/schemas/InvestorDetails'
                financials:
                  $ref: '#/components/schemas/InvestorFinancials'
                performance:
                  $ref: '#/components/schemas/InvestorPerformance'
                investments:
                  type: array
                  items:
                    $ref: '#/components/schemas/Investment'
                transactions:
                  type: array
                  items:
                    $ref: '#/components/schemas/Transaction'

    InvestorDetails:
      type: object
      properties:
        id:
          type: string
          example: inv_123
        user:
          type: object
          properties:
            id:
              type: string
              example: user_456
            name:
              type: string
              example: John Doe
            email:
              type: string
              example: john@example.com
            createdAt:
              type: string
              format: date-time
              example: "2023-06-15T10:30:00Z"
        investorType:
          type: string
          enum: [individual, institutional, corporate]
          example: individual
        verificationStatus:
          type: string
          enum: [verified, pending, rejected]
          example: verified
        riskProfile:
          type: string
          enum: [conservative, moderate, aggressive]
          example: moderate
        joinedAt:
          type: string
          format: date-time
          example: "2023-06-15T10:30:00Z"
        isActive:
          type: boolean
          example: true

    InvestorFinancials:
      type: object
      properties:
        totalInvested:
          type: number
          example: 50000
        availableFunds:
          type: number
          example: 5000
        expectedReturns:
          type: number
          example: 8500
        actualReturns:
          type: number
          example: 8500
        roi:
          type: number
          example: 17.0
        totalValue:
          type: number
          example: 58500

    InvestorPerformance:
      type: object
      properties:
        activeInvestments:
          type: integer
          example: 12
        completedInvestments:
          type: integer
          example: 8
        defaultedInvestments:
          type: integer
          example: 0
        onTimePaymentRate:
          type: number
          example: 96.5
        riskScore:
          type: number
          example: 3.2

    Investment:
      type: object
      properties:
        id:
          type: string
          example: inv_789
        applicationId:
          type: string
          example: APP001
        propertyType:
          type: string
          enum: [residential, commercial, industrial]
          example: residential
        amount:
          type: number
          example: 5000
        expectedReturn:
          type: number
          example: 850
        actualReturn:
          type: number
          example: 850
        status:
          type: string
          enum: [active, completed, defaulted]
          example: active
        roi:
          type: number
          example: 17.0

    Transaction:
      type: object
      properties:
        id:
          type: string
          example: txn_456
        transactionId:
          type: string
          example: TXN001
        type:
          type: string
          enum: [investment, repayment, fee, refund]
          example: investment
        amount:
          type: number
          example: 5000
        status:
          type: string
          enum: [pending, completed, failed]
          example: completed
        paymentMethod:
          type: string
          enum: [bank_transfer, card, wallet, auto_debit]
          example: bank_transfer
        createdAt:
          type: string
          format: date-time
          example: "2023-06-15T10:30:00Z"

    UserMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                summary:
                  type: object
                  properties:
                    totalUsers:
                      type: integer
                      example: 15420
                    activeUsers:
                      type: integer
                      example: 12350
                    newUsers:
                      type: integer
                      example: 450
                    userGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                    averageApplicationsPerUser:
                      type: number
                      example: 1.2
                    kycCompletionRate:
                      type: number
                      example: 87.5
                    averageTransactionValue:
                      type: number
                      example: 567.23
                activity:
                  type: object
                  properties:
                    dailyActive:
                      type: integer
                      example: 1247
                    weeklyActive:
                      type: integer
                      example: 5680
                    monthlyActive:
                      type: integer
                      example: 12350
                applications:
                  type: object
                  properties:
                    totalApplications:
                      type: integer
                      example: 3450
                    approvedApplications:
                      type: integer
                      example: 2890
                    pendingApplications:
                      type: integer
                      example: 234
                    rejectedApplications:
                      type: integer
                      example: 326
                    approvalRate:
                      type: number
                      example: 83.8
                kycStatus:
                  type: object
                  properties:
                    totalDocuments:
                      type: integer
                      example: 12890
                    verifiedDocuments:
                      type: integer
                      example: 11280
                    pendingDocuments:
                      type: integer
                      example: 1200
                    rejectedDocuments:
                      type: integer
                      example: 410
                    completionRate:
                      type: number
                      example: 87.5
                regionalDistribution:
                  type: object
                  example:
                    Lagos: 5800
                    Abuja: 3200
                    Port Harcourt: 2100
                    Others: 4320

    UserListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/UserSummary'
                pagination:
                  $ref: '#/components/schemas/PaginationMeta'

    UserSummary:
      type: object
      properties:
        id:
          type: string
          example: user_123
        name:
          type: string
          example: Jane Smith
        email:
          type: string
          example: jane@example.com
        createdAt:
          type: string
          format: date-time
          example: "2023-06-15T10:30:00Z"
        lastLoginAt:
          type: string
          format: date-time
          example: "2024-01-15T09:15:00Z"
        applicationCount:
          type: integer
          example: 2
        kycCount:
          type: integer
          example: 3
        transactionCount:
          type: integer
          example: 5

    UserActivityResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                dailyActive:
                  type: integer
                  example: 1247
                weeklyActive:
                  type: integer
                  example: 5680
                monthlyActive:
                  type: integer
                  example: 12350
                dailyActivity:
                  type: array
                  items:
                    $ref: '#/components/schemas/DailyActivity'
                hourlyActivity:
                  type: array
                  items:
                    $ref: '#/components/schemas/HourlyActivity'
                engagement:
                  type: object
                  properties:
                    applicationEngagement:
                      type: number
                      example: 76.2
                    kycEngagement:
                      type: number
                      example: 68.9
                    transactionEngagement:
                      type: number
                      example: 45.3

    DailyActivity:
      type: object
      properties:
        date:
          type: string
          format: date
          example: "2024-01-15"
        activeUsers:
          type: integer
          example: 1247

    HourlyActivity:
      type: object
      properties:
        hour:
          type: integer
          example: 14
        activeUsers:
          type: integer
          example: 89

    UserDetailsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: '#/components/schemas/UserDetails'
                applications:
                  type: array
                  items:
                    $ref: '#/components/schemas/Application'
                kycDocuments:
                  type: array
                  items:
                    $ref: '#/components/schemas/KYCDocument'
                transactions:
                  type: array
                  items:
                    $ref: '#/components/schemas/Transaction'

    UserDetails:
      type: object
      properties:
        id:
          type: string
          example: user_123
        name:
          type: string
          example: Jane Smith
        email:
          type: string
          example: jane@example.com
        createdAt:
          type: string
          format: date-time
          example: "2023-06-15T10:30:00Z"
        lastLoginAt:
          type: string
          format: date-time
          example: "2024-01-15T09:15:00Z"

    Application:
      type: object
      properties:
        id:
          type: string
          example: app_456
        applicationId:
          type: string
          example: APP001
        status:
          type: string
          enum: [pending, approved, rejected, installed]
          example: approved
        kycStatus:
          type: string
          enum: [not_started, pending, verified, rejected]
          example: verified
        propertyType:
          type: string
          enum: [residential, commercial, industrial]
          example: residential
        estimatedCost:
          type: number
          example: 250000
        submittedAt:
          type: string
          format: date-time
          example: "2023-06-20T14:30:00Z"
        approvedAt:
          type: string
          format: date-time
          example: "2023-06-25T16:45:00Z"
        installedAt:
          type: string
          format: date-time
          example: "2023-07-15T10:00:00Z"

    KYCDocument:
      type: object
      properties:
        id:
          type: string
          example: kyc_789
        documentType:
          type: string
          enum: [government_id, utility_bill, bank_statement, proof_of_income]
          example: government_id
        verificationStatus:
          type: string
          enum: [verified, pending, rejected, under_review]
          example: verified
        uploadedAt:
          type: string
          format: date-time
          example: "2023-06-18T11:20:00Z"
        reviewedAt:
          type: string
          format: date-time
          example: "2023-06-19T09:30:00Z"
        verificationScore:
          type: number
          example: 92.5

    TransactionMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                summary:
                  type: object
                  properties:
                    totalTransactions:
                      type: integer
                      example: 15420
                    completedTransactions:
                      type: integer
                      example: 14890
                    pendingTransactions:
                      type: integer
                      example: 450
                    failedTransactions:
                      type: integer
                      example: 80
                    totalVolume:
                      type: number
                      example: 8750000
                    totalFees:
                      type: number
                      example: 125000
                    averageTransactionValue:
                      type: number
                      example: 567.23
                    completionRate:
                      type: number
                      example: 96.5
                growth:
                  type: object
                  properties:
                    transactionGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                    volumeGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                breakdowns:
                  type: object
                  properties:
                    transactionType:
                      type: object
                      additionalProperties:
                        $ref: '#/components/schemas/TransactionTypeBreakdown'
                    paymentMethod:
                      type: object
                      additionalProperties:
                        $ref: '#/components/schemas/PaymentMethodBreakdown'

    TransactionTypeBreakdown:
      type: object
      properties:
        count:
          type: integer
          example: 2340
        volume:
          type: number
          example: 2340000

    PaymentMethodBreakdown:
      type: object
      properties:
        count:
          type: integer
          example: 8900
        volume:
          type: number
          example: 5200000

    TransactionListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/TransactionSummary'
                pagination:
                  $ref: '#/components/schemas/PaginationMeta'

    TransactionSummary:
      type: object
      properties:
        id:
          type: string
          example: txn_123
        transactionId:
          type: string
          example: TXN001
        type:
          type: string
          enum: [investment, repayment, fee, refund]
          example: investment
        fromEntity:
          type: string
          enum: [investor, user, system]
          example: investor
        toEntity:
          type: string
          enum: [investor, user, system]
          example: platform
        fromEntityName:
          type: string
          example: John Doe
        toEntityName:
          type: string
          example: System
        amount:
          type: number
          example: 5000
        status:
          type: string
          enum: [pending, completed, failed]
          example: completed
        paymentMethod:
          type: string
          enum: [bank_transfer, card, wallet, auto_debit]
          example: bank_transfer
        createdAt:
          type: string
          format: date-time
          example: "2023-06-25T16:45:00Z"
        completedAt:
          type: string
          format: date-time
          example: "2023-06-25T16:52:00Z"
        relatedApplicationId:
          type: string
          example: APP001

    TransactionPerformanceResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                totalTransactions:
                  type: integer
                  example: 15420
                completedTransactions:
                  type: integer
                  example: 14890
                failedTransactions:
                  type: integer
                  example: 80
                successRate:
                  type: number
                  example: 96.5
                failureRate:
                  type: number
                  example: 0.5
                averageProcessingTime:
                  type: number
                  example: 120
                processingTime:
                  type: object
                  properties:
                    average:
                      type: number
                      example: 120
                    minimum:
                      type: number
                      example: 30
                    maximum:
                      type: number
                      example: 300
                successRateByMethod:
                  type: array
                  items:
                    $ref: '#/components/schemas/SuccessRateByMethod'
                valueDistribution:
                  type: array
                  items:
                    $ref: '#/components/schemas/ValueDistribution'

    SuccessRateByMethod:
      type: object
      properties:
        paymentMethod:
          type: string
          example: bank_transfer
        totalTransactions:
          type: integer
          example: 8900
        successRate:
          type: number
          example: 97.2

    ValueDistribution:
      type: object
      properties:
        range:
          type: string
          example: "₦1,000 - ₦5,000"
        count:
          type: integer
          example: 2340
        totalVolume:
          type: number
          example: 8750000

    TransactionAnalyticsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                transactionFlow:
                  type: array
                  items:
                    $ref: '#/components/schemas/TransactionFlow'
                hourlyPatterns:
                  type: array
                  items:
                    $ref: '#/components/schemas/HourlyPattern'
                dailyPatterns:
                  type: array
                  items:
                    $ref: '#/components/schemas/DailyPattern'
                failureAnalysis:
                  type: array
                  items:
                    $ref: '#/components/schemas/FailureAnalysis'

    TransactionFlow:
      type: object
      properties:
        from:
          type: string
          example: investor
        to:
          type: string
          example: platform
        type:
          type: string
          example: investment
        count:
          type: integer
          example: 2340
        volume:
          type: number
          example: 2340000

    HourlyPattern:
      type: object
      properties:
        hour:
          type: integer
          example: 14
        count:
          type: integer
          example: 89
        volume:
          type: number
          example: 125000

    DailyPattern:
      type: object
      properties:
        date:
          type: string
          format: date
          example: "2024-01-15"
        count:
          type: integer
          example: 234
        volume:
          type: number
          example: 125000

    FailureAnalysis:
      type: object
      properties:
        type:
          type: string
          example: investment
        paymentMethod:
          type: string
          example: card
        failureReason:
          type: string
          example: insufficient_funds
        count:
          type: integer
          example: 15

    TransactionDetailsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                transaction:
                  $ref: '#/components/schemas/TransactionDetails'
                relatedEntities:
                  type: object
                  properties:
                    from:
                      $ref: '#/components/schemas/RelatedEntity'
                    to:
                      $ref: '#/components/schemas/RelatedEntity'
                relatedApplication:
                  $ref: '#/components/schemas/RelatedApplication'
                relatedInvestment:
                  $ref: '#/components/schemas/RelatedInvestment'

    TransactionDetails:
      type: object
      properties:
        id:
          type: string
          example: txn_123
        transactionId:
          type: string
          example: TXN001
        type:
          type: string
          enum: [investment, repayment, fee, refund]
          example: investment
        fromEntity:
          type: string
          enum: [investor, user, system]
          example: investor
        toEntity:
          type: string
          enum: [investor, user, system]
          example: platform
        amount:
          type: number
          example: 5000
        currency:
          type: string
          example: NGN
        status:
          type: string
          enum: [pending, completed, failed]
          example: completed
        paymentMethod:
          type: string
          enum: [bank_transfer, card, wallet, auto_debit]
          example: bank_transfer
        paymentReference:
          type: string
          example: REF123456
        fees:
          type: number
          example: 50
        totalFees:
          type: number
          example: 55
        netAmount:
          type: number
          example: 4945
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          example: "2023-06-25T16:45:00Z"
        processedAt:
          type: string
          format: date-time
          example: "2023-06-25T16:50:00Z"
        completedAt:
          type: string
          format: date-time
          example: "2023-06-25T16:52:00Z"
        failedAt:
          type: string
          format: date-time
          example: "2023-06-25T16:52:00Z"
        failureReason:
          type: string
          example: insufficient_funds
        processingDuration:
          type: number
          example: 420

    RelatedEntity:
      type: object
      properties:
        id:
          type: string
          example: inv_456
        name:
          type: string
          example: John Doe
        email:
          type: string
          example: john@example.com

    RelatedApplication:
      type: object
      properties:
        id:
          type: string
          example: app_789
        applicationId:
          type: string
          example: APP001

    RelatedInvestment:
      type: object
      properties:
        id:
          type: string
          example: inv_101
        investmentId:
          type: string
          example: INV001

    KYCMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                summary:
                  type: object
                  properties:
                    totalDocuments:
                      type: integer
                      example: 4500
                    verifiedDocuments:
                      type: integer
                      example: 3890
                    pendingDocuments:
                      type: integer
                      example: 340
                    rejectedDocuments:
                      type: integer
                      example: 90
                    underReviewDocuments:
                      type: integer
                      example: 180
                    verificationRate:
                      type: number
                      example: 86.4
                    rejectionRate:
                      type: number
                      example: 2.0
                    averageProcessingTime:
                      type: number
                      example: 1.8
                    averageVerificationScore:
                      type: number
                      example: 87.5
                growth:
                  type: object
                  properties:
                    documentGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                    verificationGrowth:
                      $ref: '#/components/schemas/GrowthMetric'
                breakdowns:
                  type: object
                  properties:
                    documentType:
                      type: object
                      example:
                        government_id: 4500
                        utility_bill: 4200
                        bank_statement: 3800
                        proof_of_income: 2100
                    verificationStatus:
                      type: object
                      example:
                        verified: 3890
                        pending: 340
                        rejected: 90
                        under_review: 180
                processingTime:
                  type: object
                  properties:
                    average:
                      type: number
                      example: 1.8
                    minimum:
                      type: number
                      example: 0.1
                    maximum:
                      type: number
                      example: 5.0
                verificationScores:
                  type: object
                  properties:
                    average:
                      type: number
                      example: 87.5
                    minimum:
                      type: number
                      example: 45.2
                    maximum:
                      type: number
                      example: 99.8

    KYCListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/KYCDocumentSummary'
                pagination:
                  $ref: '#/components/schemas/PaginationMeta'

    KYCDocumentSummary:
      type: object
      properties:
        id:
          type: string
          example: kyc_123
        documentType:
          type: string
          enum: [government_id, utility_bill, bank_statement, proof_of_income]
          example: government_id
        verificationStatus:
          type: string
          enum: [verified, pending, rejected, under_review]
          example: verified
        verificationScore:
          type: number
          example: 92.5
        user:
          type: object
          properties:
            id:
              type: string
              example: user_456
            name:
              type: string
              example: John Doe
            email:
              type: string
              example: john@example.com
        applicationId:
          type: string
          example: APP001
        reviewer:
          type: object
          properties:
            id:
              type: string
              example: rev_789
            name:
              type: string
              example: Jane Smith
            email:
              type: string
              example: jane@example.com
        uploadedAt:
          type: string
          format: date-time
          example: "2023-06-18T11:20:00Z"
        reviewedAt:
          type: string
          format: date-time
          example: "2023-06-19T09:30:00Z"
        processingTime:
          type: number
          example: 0.9
        isExpired:
          type: boolean
          example: false
        hasFlags:
          type: boolean
          example: false

    KYCPerformanceResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                totalDocuments:
                  type: integer
                  example: 4500
                verifiedDocuments:
                  type: integer
                  example: 3890
                rejectedDocuments:
                  type: integer
                  example: 90
                verificationRate:
                  type: number
                  example: 86.4
                rejectionRate:
                  type: number
                  example: 2.0
                averageProcessingTime:
                  type: number
                  example: 1.8
                processingTimeDistribution:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProcessingTimeDistribution'
                scoreDistribution:
                  type: array
                  items:
                    $ref: '#/components/schemas/ScoreDistribution'
                reviewerPerformance:
                  type: array
                  items:
                    $ref: '#/components/schemas/ReviewerPerformance'

    ProcessingTimeDistribution:
      type: object
      properties:
        range:
          type: string
          example: "1-2 days"
        count:
          type: integer
          example: 2100

    ScoreDistribution:
      type: object
      properties:
        range:
          type: string
          example: "90-95"
        count:
          type: integer
          example: 1800

    ReviewerPerformance:
      type: object
      properties:
        reviewer:
          type: object
          properties:
            id:
              type: string
              example: rev_123
            name:
              type: string
              example: Jane Smith
            email:
              type: string
              example: jane@example.com
        totalReviewed:
          type: integer
          example: 450
        verified:
          type: integer
          example: 420
        rejected:
          type: integer
          example: 30
        approvalRate:
          type: number
          example: 93.3
        avgProcessingTime:
          type: number
          example: 1.5
        avgScore:
          type: number
          example: 88.2

    KYCAnalyticsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                typeSuccessRates:
                  type: array
                  items:
                    $ref: '#/components/schemas/TypeSuccessRate'
                aiInsights:
                  type: array
                  items:
                    $ref: '#/components/schemas/AIInsight'
                expiryAnalysis:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExpiryAnalysis'
                qualityTrends:
                  type: array
                  items:
                    $ref: '#/components/schemas/QualityTrend'

    TypeSuccessRate:
      type: object
      properties:
        documentType:
          type: string
          example: government_id
        total:
          type: integer
          example: 4500
        verified:
          type: integer
          example: 4200
        rejected:
          type: integer
          example: 150
        successRate:
          type: number
          example: 93.3
        rejectionRate:
          type: number
          example: 3.3

    AIInsight:
      type: object
      properties:
        flags:
          type: array
          items:
            type: string
          example: ["blurry_document", "expired_document"]
        count:
          type: integer
          example: 25
        avgAuthenticityScore:
          type: number
          example: 78.5

    ExpiryAnalysis:
      type: object
      properties:
        range:
          type: string
          example: "Expiring in 3 months"
        count:
          type: integer
          example: 120

    QualityTrend:
      type: object
      properties:
        month:
          type: string
          example: "2024-01"
        avgScore:
          type: number
          example: 87.5
        count:
          type: integer
          example: 450
        highConfidenceRate:
          type: number
          example: 78.2

    KYCDetailsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                document:
                  $ref: '#/components/schemas/KYCDocumentDetails'
                user:
                  $ref: '#/components/schemas/UserDetails'
                relatedApplication:
                  $ref: '#/components/schemas/RelatedApplication'
                reviewer:
                  type: object
                  properties:
                    id:
                      type: string
                      example: rev_789
                    name:
                      type: string
                      example: Jane Smith
                    email:
                      type: string
                      example: jane@example.com
                aiAnalysis:
                  type: object
                  properties:
                    authenticityScore:
                      type: number
                      example: 92.5
                    flags:
                      type: array
                      items:
                        type: string
                      example: []
                    confidence:
                      type: number
                      example: 0.95
                userApplications:
                  type: array
                  items:
                    $ref: '#/components/schemas/Application'
                userInvestments:
                  type: array
                  items:
                    $ref: '#/components/schemas/Investment'
                documentHistory:
                  type: array
                  items:
                    $ref: '#/components/schemas/DocumentHistory'

    KYCDocumentDetails:
      type: object
      properties:
        id:
          type: string
          example: kyc_123
        documentType:
          type: string
          enum: [government_id, utility_bill, bank_statement, proof_of_income]
          example: government_id
        documentUrl:
          type: string
          example: https://example.com/documents/kyc_123.pdf
        documentNumber:
          type: string
          example: "12345678901"
        issuingAuthority:
          type: string
          example: "National Identity Management Commission"
        issueDate:
          type: string
          format: date
          example: "2020-01-15"
        expiryDate:
          type: string
          format: date
          example: "2030-01-15"
        verificationStatus:
          type: string
          enum: [verified, pending, rejected, under_review]
          example: verified
        verificationScore:
          type: number
          example: 92.5
        rejectionReason:
          type: string
          example: null
        uploadedAt:
          type: string
          format: date-time
          example: "2023-06-18T11:20:00Z"
        reviewedAt:
          type: string
          format: date-time
          example: "2023-06-19T09:30:00Z"
        processingTime:
          type: number
          example: 0.9
        isExpired:
          type: boolean
          example: false
        daysUntilExpiry:
          type: integer
          example: 2190
        hasHighConfidence:
          type: boolean
          example: true
        hasFlags:
          type: boolean
          example: false

    DocumentHistory:
      type: object
      properties:
        action:
          type: string
          example: uploaded
        timestamp:
          type: string
          format: date-time
          example: "2023-06-18T11:20:00Z"
        performedBy:
          type: string
          example: user_456
        details:
          type: string
          example: Document uploaded by user

    ReportListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                reports:
                  type: array
                  items:
                    $ref: '#/components/schemas/ReportInfo'
                filters:
                  type: object
                  properties:
                    dateRange:
                      type: object
                      properties:
                        startDate:
                          type: string
                          format: date-time
                          example: "2024-01-01T00:00:00Z"
                        endDate:
                          type: string
                          format: date-time
                          example: "2024-01-31T23:59:59Z"

    ReportInfo:
      type: object
      properties:
        id:
          type: string
          example: financial
        name:
          type: string
          example: Financial Report
        description:
          type: string
          example: Comprehensive financial metrics including investments, repayments, and revenue
        category:
          type: string
          example: financial
        availableFormats:
          type: array
          items:
            type: string
          example: ["json", "csv"]
        lastGenerated:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        schedule:
          type: string
          example: monthly

    FinancialReportResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                reportType:
                  type: string
                  example: financial
                period:
                  type: object
                  properties:
                    startDate:
                      type: string
                      format: date-time
                      example: "2024-01-01T00:00:00Z"
                    endDate:
                      type: string
                      format: date-time
                      example: "2024-01-31T23:59:59Z"
                summary:
                  type: object
                  properties:
                    totalInvestments:
                      type: integer
                      example: 2340
                    totalRepayments:
                      type: integer
                      example: 12890
                    totalFees:
                      type: integer
                      example: 180
                    investmentVolume:
                      type: number
                      example: 2340000
                    repaymentVolume:
                      type: number
                      example: 6250000
                    feeVolume:
                      type: number
                      example: 125000
                    netRevenue:
                      type: number
                      example: 3910000
                    totalRevenue:
                      type: number
                      example: 4035000
                    profitMargin:
                      type: number
                      example: 96.9
                monthlyBreakdown:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: object
                        properties:
                          year:
                            type: integer
                            example: 2024
                          month:
                            type: integer
                            example: 1
                          type:
                            type: string
                            example: investment
                      count:
                        type: integer
                        example: 2340
                      volume:
                        type: number
                        example: 2340000
                investorReturns:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: object
                        nullable: true
                      totalInvested:
                        type: number
                        example: 12500000
                      totalReturns:
                        type: number
                        example: 2125000
                      averageROI:
                        type: number
                        example: 0.17
                      totalInvestors:
                        type: integer
                        example: 890
                paymentMethodBreakdown:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        example: bank_transfer
                      count:
                        type: integer
                        example: 8900
                      volume:
                        type: number
                        example: 5200000
                generatedAt:
                  type: string
                  format: date-time
                  example: "2024-01-15T10:30:00Z"

    OperationalReportResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                reportType:
                  type: string
                  example: operational
                period:
                  type: object
                  properties:
                    startDate:
                      type: string
                      format: date-time
                      example: "2024-01-01T00:00:00Z"
                    endDate:
                      type: string
                      format: date-time
                      example: "2024-01-31T23:59:59Z"
                summary:
                  type: object
                  properties:
                    totalUsers:
                      type: integer
                      example: 15420
                    activeUsers:
                      type: integer
                      example: 12350
                    totalApplications:
                      type: integer
                      example: 3450
                    approvedApplications:
                      type: integer
                      example: 2890
                    completedInstallations:
                      type: integer
                      example: 2150
                    totalInvestors:
                      type: integer
                      example: 890
                    activeInvestors:
                      type: integer
                      example: 756
                    totalTransactions:
                      type: integer
                      example: 15420
                    systemUptime:
                      type: number
                      example: 99.9
                details:
                  type: object
                  properties:
                    users:
                      type: object
                      properties:
                        totalUsers:
                          type: integer
                          example: 15420
                        activeUsers:
                          type: integer
                          example: 12350
                        newUsers:
                          type: integer
                          example: 450
                    applications:
                      type: object
                      properties:
                        totalApplications:
                          type: integer
                          example: 3450
                        approvedApplications:
                          type: integer
                          example: 2890
                        completedInstallations:
                          type: integer
                          example: 2150
                    kyc:
                      type: object
                      properties:
                        totalDocuments:
                          type: integer
                          example: 4500
                        verifiedDocuments:
                          type: integer
                          example: 3890
                        complianceRate:
                          type: number
                          example: 86.4
                    investors:
                      type: object
                      properties:
                        totalInvestors:
                          type: integer
                          example: 890
                        activeInvestors:
                          type: integer
                          example: 756
                    transactions:
                      type: object
                      properties:
                        totalTransactions:
                          type: integer
                          example: 15420
                    systemPerformance:
                      type: object
                      properties:
                        uptime:
                          type: number
                          example: 99.9
                        averageResponseTime:
                          type: integer
                          example: 150
                        errorRate:
                          type: number
                          example: 0.1
                        throughput:
                          type: integer
                          example: 1000
                    regionalBreakdown:
                      type: array
                      items:
                        type: object
                        properties:
                          _id:
                            type: string
                            example: Lagos
                          count:
                            type: integer
                            example: 5800
                generatedAt:
                  type: string
                  format: date-time
                  example: "2024-01-15T10:30:00Z"

    ComplianceReportResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                reportType:
                  type: string
                  example: compliance
                period:
                  type: object
                  properties:
                    startDate:
                      type: string
                      format: date-time
                      example: "2024-01-01T00:00:00Z"
                    endDate:
                      type: string
                      format: date-time
                      example: "2024-01-31T23:59:59Z"
                summary:
                  type: object
                  properties:
                    overallComplianceScore:
                      type: integer
                      example: 89
                    kycComplianceRate:
                      type: number
                      example: 86.4
                    transactionComplianceRate:
                      type: number
                      example: 96.5
                    investorComplianceRate:
                      type: number
                      example: 95.5
                    highRiskTransactions:
                      type: integer
                      example: 77
                    auditIssues:
                      type: integer
                      example: 5
                details:
                  type: object
                  properties:
                    kyc:
                      type: object
                      properties:
                        totalDocuments:
                          type: integer
                          example: 4500
                        verifiedDocuments:
                          type: integer
                          example: 3890
                        complianceRate:
                          type: number
                          example: 86.4
                        complianceScore:
                          type: number
                          example: 86.4
                    transactions:
                      type: object
                      properties:
                        totalTransactions:
                          type: integer
                          example: 15420
                        compliantTransactions:
                          type: integer
                          example: 14890
                        complianceRate:
                          type: number
                          example: 96.5
                        complianceScore:
                          type: number
                          example: 96.5
                        highRiskTransactions:
                          type: integer
                          example: 77
                    investors:
                      type: object
                      properties:
                        totalInvestors:
                          type: integer
                          example: 890
                        verifiedInvestors:
                          type: integer
                          example: 850
                        complianceRate:
                          type: number
                          example: 95.5
                        complianceScore:
                          type: number
                          example: 95.5
                    auditTrail:
                      type: object
                      properties:
                        totalAudits:
                          type: integer
                          example: 150
                        issues:
                          type: array
[...]
